.container {
    padding: 2rem
}
table {
    width: 100%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    text-align: center;
    background: rgb(182, 182, 182);
    color: rgb(41, 41, 41);
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
}
td {
    text-align: left;
}
